In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

# pandas to import the dataset
# sklearn to perform the splitting

data=pd.read_csv('forestfires.csv')
data.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [2]:
# pandas to import the dataset
# sklearn to perform the splitting

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris


#Loading the Dataset
data=pd.read_csv('forestfires.csv')
data.head()


#splitting
y=data.temp
x=data.drop('temp',axis=1)


#training
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x_train.head()

     X  Y month  day  FFMC    DMC     DC   ISI  RH  wind  rain   area
349  5  4   sep  fri  92.1   99.0  745.3   9.6  64   3.6   0.0   1.64
152  3  4   jul  sat  90.1   51.2  424.1   6.2  43   1.8   0.0   1.43
498  6  5   aug  tue  96.1  181.1  671.2  14.3  26   2.7   0.0  40.54
391  8  6   sep  fri  91.1   91.3  738.1   7.2  46   2.7   0.0  30.18
455  3  4   jul  mon  94.6  160.0  567.2  16.7  48   2.7   0.0   0.00